/* Variables */

$background-color-navbar: 1

/*====================================*/

/* first division (Hello world)*/
.content
  margin-top: 50px
  padding-top: 30px

/* Logo image*/
.ftduck
  max-width: 40%

/* entire document (HTML page)*/
html
  background-color: rgb(255, 255, 255)

.mobile-button
  &:hover
    background-color: rgb(105,185,215)

/* navigation bar (at the top!)*/
.navbar
  background-color: rgba(135, 215, 255, 1)
  padding-bottom: 0px
  border-bottom-color: rgba(0,0,0,0)
  height: 50px
  @navbar-padding-vertical: 10px
  @navbar height: 10px

  transition: background-color .5s, padding-bottom .5s

/* background of drop menu of mobile mode */
.navbar-right
  z-index: -2
  background-color: rgb(135, 215, 255)

/*find way to make selected box change opacity!*/
/* selected shade for navigation bar menu items (at the top!)*/
.selected
  background-color: rgb(105,185,215)
  z-index: 0
