/* Here be Dragons!*/
/* Imports */
/* Variable Overrides.*/
/* Variable declaration */
/* Rules.*/
body {
  background-color: #efefef; }

/* mixins */
/* Here be Dragons!*/
/**
  * indexdisplay partial.
  *
  * This partial sets all the media breakpoints to manage
  * Changes in the display size.
  */
/** This mixin takes care of the jumbotron rules.
  * To add rules that are expected to be shown-
  * in every display size add them here.
  *
  * variables:
  *   - $size: Variable used to set the size in pixels-
  *     for the offset of the image (center it).
  */
/**
  * Set up for displays LESS THAN: 576px (*exclusive*).
  **/
#block:before {
  content: "extra small"; }

.jumbotron {
  background-image: url("https://dummyimage.com/1000x800/e3e3e3/104414.png&text=Jumbotron");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  background-position: 0px -50px;
  height: 750px; }

/**
  * Set up for displays RANGING: 576px -> 768px (*exclusive*).
  **/
@media (min-width: 576px) {
  #block:before {
    content: "small"; }
  .jumbotron {
    background-image: url("https://dummyimage.com/1000x800/e3e3e3/104414.png&text=Jumbotron");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    background-position: 0px -100px;
    height: 750px; } }

/**
  * Set up for displays RANGING: 768px -> 992px (*exclusive*).
  **/
@media (min-width: 768px) {
  #block:before {
    content: "medium"; }
  .jumbotron {
    background-image: url("https://dummyimage.com/1000x800/e3e3e3/104414.png&text=Jumbotron");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    background-position: 0px -150px;
    height: 750px; } }

/**
  * Set up for displays RANGING: 992px -> 1200px (*exclusive*).
  **/
@media (min-width: 992px) {
  #block:before {
    content: "large"; }
  .jumbotron {
    background-image: url("https://dummyimage.com/1000x800/e3e3e3/104414.png&text=Jumbotron");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    background-position: 0px -200px;
    height: 750px; } }

/**
  * Set up for displays GREATER THAN: 1200px.
  **/
@media (min-width: 1200px) {
  #block:before {
    content: "extra large"; }
  .jumbotron {
    background-image: url("https://dummyimage.com/1000x800/e3e3e3/104414.png&text=Jumbotron");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    background-position: 0px -350px;
    height: 750px; } }
