/* Here be Dragons!*/



/* Variable Overrides.*/

/* Variable declaration */

$bg-color: #efefef; // html body background color

/* Rules.*/

// color of the html body section
body
{
  background-color: $bg-color;
}
.card-title{
  text-align: center;
}
h1{
  text-shadow: 2px 2px 10px grey;
}
// map for adding theme colors, changing colors
$theme-colors:
(
  "mdj2": #af26ad
);
#header{
  background-color: rgba(29,29,29,0.2)
}
hr {
    border: none;
    height: 1px;
    color: #757982;
    background-color: #757982;
    margin-left: 50px;
    margin-right: 50px;
}
#cardBoxMan{
  padding-left: 50px;
  padding-right: 50px;
}
#cardBoxBoy{
  padding-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
#bigPic{
  height: 175px;
  margin-left: 240px;
}
#bigSmallPic{
  height: 335px;
  margin-left: 130px;
}
/* Imports */

// required imports! --> DO NOT DELETE! <--

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// selective imports:
@import "node_modules/bootstrap/scss/utilities";  // partial that deals with bg, etc.
@import "node_modules/bootstrap/scss/buttons";    // partail that deals with buttons.

/* mixins */

@import 'indexdisplay' // mixin that takes care of the display changes.
