/* Here be Dragons!*/

/**
  * indexdisplay partial.
  *
  * This partial sets all the media breakpoints to manage
  * Changes in the display size.
  */

// ------ mixins declarations -------------
/**
  * - jumbotron-base($size)
  * - slant-shade($width)
  * - slant-text($size)
  **/

//variable declarations
$jumbotron-height:100% ;
$jumbotron-color:#698faf;


/** This mixin takes care of the jumbotron rules.
  * To add rules that are expected to be shown-
  * in every display size add them here.
  *
  * variables:
  *   - $x-axis: Variable for the x position of the jumbotron's
  *              picture background.
  *   -$y-axis:  Variable for the y position of the jumbotron's
  *              picture background.
  */
@mixin jumbotron-base($x-axis, $y-axis, $jumbotron-height)
{
  background-image: url("https://cdn.pixabay.com/photo/2015/10/11/11/20/banner-982162_960_720.jpg");

  background-attachment: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  background-position: $x-axis $y-axis;
  height: $jumbotron-height;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}


/** slant-shade mixin
  *
  * This mixin controlls the size of the slant shade used
  * to display text on the jumbotron's face.
  *
  * variables:
  *   -$width: Width of the slant shade.
  */
  @mixin slant-shade($width)
  {
    position: absolute;
    width: $width;
    height: $jumbotron-height;
    //top: 56px;
    left: -100px;
    background-color: rgba(0,0,0,.4);
    transform: rotate(0) scale(1) skewX(-15.75deg) translate(0);

  }

  /** slant-text mixin
    *
    * this mixin takes care of the slant-shade text size and other
    * propereties.
    *
    * variables:
    *   - $text-box: width of the text box.
    *   - $text-box-x: x position of the text on jumbotron.
    *   - $text-box-y: y position of the text on jumbotron.
    */

@mixin slant-text($text-box, $text-box-x, $text-box-y)
{
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  width: $text-box;
  padding-left: $text-box-x;//30px;
  padding-top: $text-box-y;//85px;
  color: rgb(225,225,225);

}


/**card-text mixin
  *
  *makes my about text look presentable
  *
  *
  */
@mixin card-center($card-width){
  margin-left: $card-width;

}



// ------ Display mixins ------

/**
  * Set up for displays LESS THAN: 576px (*exclusive*).
  **/
@include media-breakpoint-up(xs)
{
  // jumbotron rules
  .jumbotron
  {
      @include jumbotron-base(-450px, 0px, 150px);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(150px);
  }

  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(300px, 0px, 25px);
  }
  .card-center
  {
    @include card-center(0px);
  }

}

/**
  * Set up for displays RANGING: 576px -> 768px (*exclusive*).
  **/
@include media-breakpoint-up(sm)
{
  // jumbotron rules
  .jumbotron
  {
    @include jumbotron-base(-250px, 0px, 150px);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(150px);
  }

  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(300px, 30px, 85px);
  }
  .card-center
  {
    @include card-center(15px);
  }

}

/**
  * Set up for displays RANGING: 768px -> 992px (*exclusive*).
  **/
@include media-breakpoint-up(md)
{
    // jumbotron rules
  .jumbotron
  {
    @include jumbotron-base(-150px, 0px, $jumbotron-height);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(150px);
  }

  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(300px, 0px, 85px);
  }
  .card-center
  {
    @include card-center(15px);
  }

}

/**
  * Set up for displays RANGING: 992px -> 1200px (*exclusive*).
  **/
@include media-breakpoint-up(lg)
{
  // jumbotron rules
  .jumbotron
  {
    @include jumbotron-base(0px, 0px, $jumbotron-height);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(170px);
  }

  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(240px, 55px, 40px);
  }

  .card-center
  {
    @include card-center(15px);
  }

}

/**
  * Set up for displays GREATER THAN: 1200px.
  **/
@include media-breakpoint-up(xl)
{
  // jumbotron rules
  .jumbotron
  {
    @include jumbotron-base(0px, 0px, $jumbotron-height);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(200px);
  }

  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(300px, 40px, 40px);
  }

  .card-center
  {
    @include card-center(10px);
  }

}
