/* Here be Dragons!*/

/**
  * indexdisplay partial.
  *
  * This partial sets all the media breakpoints to manage
  * Changes in the display size.
  */

// ------ mixins declarations -------------
/**
  * - jumbotron-base($size)
  * - slant-shade($width)
  * - slant-text($size)
  **/

//variable declarations
$jumbotron-height: 575px;


/** This mixin takes care of the jumbotron rules.
  * To add rules that are expected to be shown-
  * in every display size add them here.
  *
  * variables:
  *   - $x-axis: Variable for the x position of the jumbotron's
  *              picture background.
  *   -$y-axis:  Variable for the y position of the jumbotron's
  *              picture background.
  */
@mixin jumbotron-base($x-axis, $y-axis)
{
  background-image: url("../assets/MARTIN.svg");
  background-attachment: absolute;
  background-repeat: no-repeat;
  background-size: 1450px;
  position: relative;
  background-position: ($x-axis - 30px) ($y-axis + 150px);
  height: $jumbotron-height;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  top: 0px;
}



/** slant-shade mixin
*
* This mixin controlls the size of the slant shade used
* to display text on the jumbotron's face.
*
* variables:
*   -$width: Width of the slant shade.
*/
@mixin slant-shade($width, $x-axis)
{
  position: absolute;
  width: $width + 1400px;
  height: $jumbotron-height;
  margin-top: 0px;
  //top: 56px;
  left: $x-axis - 890px;
  background-color: rgba(0,0,50,.5);
  transform: rotate(0) scale(1) skewX(-65.75deg) translate(0);
  margin-bottom: 0px;
}

/** slant-shade mixin
*
* This mixin controlls the size of the slant shade used
* to display text on the jumbotron's face.
*
* variables:
*   -$width: Width of the slant shade.
*/
@mixin slant-shade2($width, $x-axis)
{
  position: relative;
  width: 100%;
  height: 850px;
  //top: 56px;
  background-color: rgba(0,0,50,.3);
  transform: rotate(0) scale(1) skewX(-0deg) translate(0);
  z-index: 40;
}

/** slant-text mixin
  *
  * this mixin takes care of the slant-shade text size and other
  * propereties.
  *
  * variables:
  *   - $text-box: width of the text box.
  *   - $text-box-x: x position of the text on jumbotron.
  *   - $text-box-y: y position of the text on jumbotron.
  */

@mixin slant-text($text-box, $text-box-x, $text-box-y)
{
background-color: rgba(0,0,0,0);
border-color: rgba(0,0,0,0);
width: $text-box;
height: $jumbotron-height;
padding-left: $text-box-x;//30px;
padding-top: $text-box-y;//85px;
color: rgb(225,225,225);
border-bottom:0px;

}

/** slant-text mixin
  *
  * this mixin allows the manipulation of the presentation image
  * of the presentation textbox in the Martin's presentation website
  *
  * variables:

  *   - $width: y position of the text on jumbotron.
  *   - $height: y position of the text on jumbotron.
  */
  @mixin presentation-img($x-axis, $y-axis, $width, $height)
  {
    background-image: url("https://images.unsplash.com/photo-1516110833967-0b5716ca1387");
    background-position: $x-axis $y-axis;
    background-repeat: no-repeat;
    background-size: cover;
    width: $width;
    height: $height;

  }






// ------ Display mixins ------

/**
* Set up for displays LESS THAN: 576px (*exclusive*).
**/
@include media-breakpoint-up(xs)
{

  // Jumbotron's configuration and rules
  .jumbotron
  {
    @include jumbotron-base(-300px, 0px);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(350px, -55px);
  }

  .slant2
  {
    @include slant-shade2(350px, -55px);
  }

  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(300px, 0px, 25px);
  }

  // image of the Martin's introduction side picture.
  .presentation-img
  {
    @include presentation-img(0px, 0px, 120%, 300px);
  }
}

/**
* Set up for displays RANGING: 576px -> 768px (*exclusive*).
**/
@include media-breakpoint-up(sm)
{
  // Jumbotron's configuration and rules
  .jumbotron
  {
    @include jumbotron-base(0, 0);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(350px, -55px);
  }
  .slant2
  {
    @include slant-shade2(350px, -55px);
  }
  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(370px, 0px, 25px);
  }

  // image of the Martin's introduction side picture.
  .presentation-img
  {
  }
}

/**
* Set up for displays RANGING: 768px -> 992px (*exclusive*).
**/
@include media-breakpoint-up(md)
{
  // Jumbotron's configuration and rules
  .jumbotron
  {
    @include jumbotron-base(0, 0);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(350px, -55px);
  }
  .slant2
  {
    @include slant-shade2(350px, -55px);
  }
  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(370px, 0px, 25px);
  }

  // image of the Martin's introduction side picture.
  .presentation-img
  {
  }
}

/**
* Set up for displays RANGING: 992px -> 1200px (*exclusive*).
**/
@include media-breakpoint-up(lg)
{
  // Jumbotron's configuration and rules
  .jumbotron
  {
    @include jumbotron-base(0, 0);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(350px, -55px);
  }
  .slant2
  {
    @include slant-shade2(350px, -55px);
  }
  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(300px, 0px, 25px);
  }

  // image of the Martin's introduction side picture.
  .presentation-img
  {
  }
}

/**
* Set up for displays GREATER THAN: 1200px.
**/
@include media-breakpoint-up(xl)
{
  // Jumbotron's configuration and rules
  .jumbotron
  {
    @include jumbotron-base(0, 0);
  }

  // slanted background over jumbotron
  .slant
  {
    @include slant-shade(350px, -55px);
  }
  .slant2
  {
    @include slant-shade2(350px, -55px);
  }
  // text over slant shade over jumbotron.
  .slant-text
  {
    @include slant-text(300px, 0px, 25px);
  }

  // image of the Martin's introduction side picture.
  .presentation-img
  {
  }
}
