/* Here be Dragons!*/



/* Variable Overrides.*/

/* Variable declaration */

$bg-color: rgb(242,242,242);// html body background color

/* Rules.*/

// color of the html body section
body
{
    background-color: $bg-color;
}


// color of the html body section
body
{
    background-color: $bg-color;
}

// map for adding theme colors, changing colors
$theme-colors:
(
  "mdj2": rgba(255, 255, 255, 0.9)
);
.card-title{
  text-align: center;
}
#navColor{
  color: rgba(255, 255, 255, 0.9)
}
#cardBoxTitle{
  padding-left: 50px;
  padding-right: 50px;
}
#cardBoxP{
  padding-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 25px;
  font-family: monospace;
  padding-left: 50px;
  padding-right: 50px;
}
h1{
  font-family: monospace;
}
#aboutUs{
  font-size: 60px;
}
#mission{
  font-family: monospace;
  font-size: 40px;
  opacity: 50%;
}
#missionP{
  padding-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  padding-left: 50px;
  padding-right: 50px;
}

.footer{
  width: 100%;
  background-color: #222;
  padding: 50px 30px;
}
.footNav{
  font-family: monospace;
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-decoration: none;
  list-style-type: none;
}
#footA{
  color: white;
}
li{
    padding-top: 10px;
}
/* Imports */

// required imports! --> DO NOT DELETE! <--

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// selective imports:
@import "node_modules/bootstrap/scss/utilities";  // partial that deals with bg, etc.
@import "node_modules/bootstrap/scss/buttons";    // partail that deals with buttons.

/* mixins */

@import 'aboutdisplay' // mixin that takes care of the display changes.
