/* Here be Dragons!*/



/* Variable Overrides.*/

/* Variable declaration */

/* Variable declaration */

$bg-color: rgb(242,242,242);// html body background color

/* Rules.*/

// color of the html body section
body
{
    background-color: $bg-color;
    font-family: "Gotham SSm 4r", "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
}


// color of the html body section
body
{
    background-color: $bg-color;
}

// map for adding theme colors, changing colors
$theme-colors:
(
  "mdj2": rgba(160, 207, 255, 0.9)
);



/* Imports */

// required imports! --> DO NOT DELETE! <--

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// selective imports:
@import "node_modules/bootstrap/scss/utilities";  // partial that deals with bg, etc.
@import "node_modules/bootstrap/scss/buttons";    // partail that deals with buttons.

/* mixins */

@import 'aidisplay' // mixin that takes care of the display changes.
