/* Here be Dragons!*/



/* Variable Overrides.*/

/* Variable declaration */

$bg-color: #efefef; // html body background color


/* Rules.*/

// color of the html body section
body
{
    background-color: $bg-color;
}
//https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=139f00301feb37e712adda8bf9d8b91f&auto=format&fit=crop&w=1050&q=80
// map for adding theme colors, changing colors
$theme-colors:
(
  "mdj2": rgba(160, 207, 255, 0.6)
);

// Makes the words in h1 stand out a bit more with shadow and bolding.
h1{
  text-shadow: 2px 2px 10px grey;
  font-weight: bold;
}

// table containing all the information in regards of
// advantages of Martin Robot.
.advantages
{
  padding-top: 50px;
  padding-left: 30px;

}

// background of the individuals card presenting the uses for Martin.
.for-individuals-card
{
  z-index: 1000;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1449177009399-be6867ef0505");

}

// background of the business card presenting the uses for Martin for businesses.
.for-businesses-card
{
  z-index: 1000;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1480435616171-7e5375f905de");

}

//test shader.
.shadder
{
  padding:0px; margin:0px;
  top: 53px; left: 0;
  position:  absolute;
  z-index: -1;
  width: 475px;
  height: 150px;
  background-color:rgba(0,0,0,.5);

}


/* Imports */

// required imports! --> DO NOT DELETE! <--

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// selective imports:
@import "node_modules/bootstrap/scss/utilities";  // partial that deals with bg, etc.
@import "node_modules/bootstrap/scss/buttons";    // partail that deals with buttons.

/* mixins */

@import 'martindisplay' // mixin that takes care of the display changes.
