/* Here be Dragons!*/



/* Variable Overrides.*/

//* Variable declaration */

$bg-color: rgb(242,242,242);// html body background color

/* Rules.*/

// color of the html body section
body
{
    background-color: $bg-color;
}


// color of the html body section
body
{
    background-color: $bg-color;
}
//https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=139f00301feb37e712adda8bf9d8b91f&auto=format&fit=crop&w=1050&q=80
// map for adding theme colors, changing colors
$theme-colors:
(
  "mdj2": rgba(160, 207, 255, 0.9)
  "navColor" : rgba(255, 255, 255, 0.9)
);
#navColor{
  color: rgba(255, 255, 255, 0.9)
}
// Makes the words in h1 stand out a bit more with shadow and bolding.
h1{
  text-shadow: 4px 4px 10px grey;
  font-weight: bold;
}

#cardBoxMan{
  padding-left: 50px;
  padding-right: 50px;
}
#cardBoxBoy{
  padding-top: 0px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
#button{
  margin-top: 220px;
  margin-left: 145px;
}
#myVideo {
    position: absolute;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    height: 400px;
    -webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);
}
#gold{
  color: #f7e667
}
#rose{
  color: #ea9677
}
.cropper{
    width: 200px;
    overflow:hidden;
    display:block;
    height: 360px;
}
.content {
    position: absolute;
    bottom: 0;
    top: 1000px;
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 80;
}
// table containing all the information in regards of
// advantages of Martin Robot.
.advantages
{
  padding-top: 50px;
  padding-left: 30px;

}

// background of the individuals card presenting the uses for Martin.
.for-individuals-card
{
  z-index: 1000;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1449177009399-be6867ef0505");

}

// background of the business card presenting the uses for Martin for businesses.
.for-businesses-card
{
  z-index: 1000;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1480435616171-7e5375f905de");

}

//test shader.
.shadder
{
  padding:0px; margin:0px;
  top: 53px; left: 0;
  position:  absolute;
  z-index: -1;
  width: 475px;
  height: 150px;
  background-color:rgba(0,0,0,.5);

}


/* Imports */

// required imports! --> DO NOT DELETE! <--

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// selective imports:
@import "node_modules/bootstrap/scss/utilities";  // partial that deals with bg, etc.
@import "node_modules/bootstrap/scss/buttons";    // partail that deals with buttons.

/* mixins */

@import 'martindisplay' // mixin that takes care of the display changes.
